<% for (let i = 0; i < communities.length; i++) {
    const community = communities[i];%>
    
    <li id="community-<%= community.id %>" class="">
    <span class="icon-content">
        <img class="icon" src="../../img/icons/<%= community.id %>.jpg"></img>
    </span>
    <a data-sound="SE_WAVE_OK" href="/communities/<%= community.id %>" data-pjax=".wrapper" class="scroll to-community-button">
        <span class="community-button"></span>
    </a>
    <div class="body">
        <div class="body-content">
          <span class="community-name title">
            <% if (locals.language.aqua.portal.language == "en") { %>
              <%= locals.language.aqua.portal.community.community + community.name %>
          <% } else { %>
            <%= community.name + locals.language.aqua.portal.community.community %>
          <% } %>
          </span>
            <span class="community-name name">
                <%= (community.app_name) ? community.app_name : community.name %>
            </span>
            <span class="empathy-count"><span><%= community.favorites.length.toLocaleString() %></span></span>
            <span class="text">
                <% if (community.user_community == 1) { %>
                    <%= locals.language.aqua.portal.community.types.user_community %>
                <% } else {
                    if (community.type == "sub") { %>
                        <%= locals.language.aqua.portal.community.types.sub_community %>
                    <% } else {
                        switch(community.platform) {
                            case "wiiu":%>
                                <%= locals.language.aqua.portal.community.platforms.wiiu %> <%= locals.language.aqua.portal.community.platforms.games %>
                            <%break;
                            case "3ds":%>
                                <%= locals.language.aqua.portal.community.platforms.n3ds %> <%= locals.language.aqua.portal.community.platforms.games %>
                            <%break;
                            case "wii":%>
                                <%= locals.language.aqua.portal.community.platforms.wii %> <%= locals.language.aqua.portal.community.platforms.games %>
                            <%break;
                            case "topic":%>
                                <%= locals.language.aqua.portal.community.platforms.topic %> <%= locals.language.aqua.portal.community.platforms.games %>
                            <%break;
                            case "both":%>
                                <%= locals.language.aqua.portal.community.platforms['wiiu/n3ds'] %> <%= locals.language.aqua.portal.community.platforms.games %>
                            <%break;
                            case "vc":%>
                                <%= locals.language.aqua.portal.community.platforms.virtual_console %> <%= locals.language.aqua.portal.community.platforms.games %>
                            <%break;
                            default:%>
                            <%= locals.language.aqua.portal.community.platforms.games %>
                            <%break;
                        }
                    }
                }  %>
            </span>
        </div>
    </div>
</li>
<% } %> 