<div id="url-jump-modal" data-url="<%= post.url %>" class="window-page none">
    <div class="window">
        <h1 class="window-title"><%= locals.language.aqua.portal.community.settings.url_jump_title %></h1>
        <div class="window-body">
            <div class="window-body-inner">
            <p><%= locals.language.aqua.portal.community.settings.url_jump_confirm %></p>
            <p class="link-url"><%= post.url %></p>
          </div>
        </div>
        <div class="window-bottom-buttons">
            <a href="javascript:void(0)" class="button accesskey-b cancel-button" data-sound="SE_WAVE_CANCEL"><%= locals.language.aqua.portal.community.settings.cancel %></a>
            <a href="javascript:void(0)" data-sound="SE_WAVE_OK" class="button ok-confirm-app-jump"><%= locals.language.aqua.portal.community.settings.ok %></a>
        </div>
    </div>
</div>