<%- include('../partials/header'), { account : account } %>
    <div class="wrapper">

        <div class="wrapper-content">

            <header class="header">
                <h1 class="content-title title-label"><%= community.name %></h1>
                <a href="#" class="add-post-button">Post</a>
            </header>

            <div class="header-banner-container">
                <img src="../../../img/banners-wup/<%= community.id %>.jpg" class="banner-image" onerror="this.src='../../../img/banners-wup/placeholder-wup.jpg'">
            </div>

            <div class="community-info info-content with-header-banner">
                <span class="icon-container">
                    <img src="../../../img/icons/<%= community.id %>.jpg" class="icon">
                </span>
                <a class="settings-button button" onclick="aquamarine.openModal('wrapper', '')" href="#">
                    <a class="favorite-button button" onclick="aquamarine.toggleFavorite()"
                        href="javascript:void(0)">Favorite</a>
                    <span class="news-community-badge">Main Community</span>
                    <span class="title"><%= community.name %> Community</span>
                    <span class="text"><%= community.description %></span>
            </div>

            <div class="community-post-list">

                <div class="post-list">
                    <% for (let i = 0; i < posts.length; i++) {%>
                        <%- include("../partials/post.ejs", {post : posts[i]}) %>
                    <%} %>
                </div>

                <a class="loading"></a>

            </div>


        </div>

    </div>