<%- include('../partials/header'), { account : account } %>
    <div class="wrapper">

        <div class="wrapper-content">
            <header class="header">
                <h1 class="content-title button-ellipsis"><%= post.mii_name %>'s post</h1>
            </header>

            <div class="post-permalink">

                <div class="post-content-viewer">

                    <div class="post-content-header">
                        <a data-pjax data-sound="SE_OLV_OK_SUB" href="/communities/<%= post.community_id %>" <% if (post.community_type == "main") { %> class="community"<% } else {%> class="program" <%} %>>
                            <span><img class="title-icon" src="/img/icons/<%= post.community_id %>.jpg">
                                <% if (post.community_type == "main") {%>
                                    <%= post.community_name %>
                                <% } %>
                            </span>
                        </a>
                        <% if (post.community_type == "sub") { %>
                            <a data-pjax data-sound="SE_OLV_OK_SUB" href="/communities/<%= post.community_id %>" class="community">
                                <img class="community-icon" src="/img/icons/<%= post.community_id %>.jpg">
                                <%= post.community_name %>
                            </a>
                        <% } %>

                        <% if (post.search_key) { %>
                            <a data-sound="SE_OLV_DECIDE" href="javascript:void(0)" class="post-type in-game">In-Game</a>
                        <% } %>
                    </div>

                    <div class="post-content <% if (post.empathies.length <= 0) { %>no-empathy<% } %>">

                        <a href="javascript:void(0)" class="user-icon-container <%= post.admin ? 'admin' : '' %>">
                            <% switch (post.feeling_id) {
                                case 0:%>
                                    <img class="user-icon" src="http://mii-images.account.nintendo.net/<%= post.mii_hash %>_normal_face.png" class="user-icon" onerror="this.src='../../../img/mii_null.png'">
                                    <% break;
                                case 1:%>
                                    <img class="user-icon" src="http://mii-images.account.nintendo.net/<%= post.mii_hash %>_happy_face.png" class="user-icon" onerror="this.src='../../../img/mii_null.png'">
                                    <% break;
                                case 2:%>
                                    <img class="user-icon" src="http://mii-images.account.nintendo.net/<%= post.mii_hash %>_like_face.png" class="user-icon" onerror="this.src='../../../img/mii_null.png'">
                                    <% break;
                                case 3:%>
                                    <img class="user-icon" src="http://mii-images.account.nintendo.net/<%= post.mii_hash %>_surprised_face.png" class="user-icon" onerror="this.src='../../../img/mii_null.png'">
                                    <% break;
                                case 4:%>
                                    <img class="user-icon" src="http://mii-images.account.nintendo.net/<%= post.mii_hash %>_frustrated_face.png" class="user-icon" onerror="this.src='../../../img/mii_null.png'">
                                    <% break;
                                case 5:%>
                                    <img class="user-icon" src="http://mii-images.account.nintendo.net/<%= post.mii_hash %>_puzzled_face.png" class="user-icon" onerror="this.src='../../../img/mii_null.png'">
                                    <% break;
                                default:%>
                                    <img class="user-icon" src="http://mii-images.account.nintendo.net/<%= post.mii_hash %>_normal_face.png" class="user-icon" onerror="this.src='../../../img/mii_null.png'">
                                    <% break;
                            } %>
                        </a>

                        <p class="user-name"><%= post.mii_name %>
                            <span class="user-id"><%= post.nnid %></span>
                        </p>

                        <p class="time-stamp"><%= moment(post.create_time).fromNow() %>
                            <span class="spoiler-status">Spoilers</span>
                            <% if (post.title_owned) { %>
                                <span class="played">Played</span>
                            <% } %>
                        </p>

                        <div class="post-content-body">
                            <% if (post.screenshot) {%>
                                <a href="javascript:void(0)" class="screenshot-permalink" onclick="aquamarine.toggleCaptureModal(this)" data-sound="SE_WAVE_OK">
                                    <img onerror="this.src='../../../img/banners-wup/placeholder-wup.jpg'" class="post-content-screenshot" src="/img/screenshots/<%= post.id %>.jpg">
                                </a>
                            <%} %>

                            <% if (post.topic_tag) {%>
                               <a data-sound="SE_OLV_OK" href="javascript:void(0)" class="post-tag big"><%= post.topic_tag %></a>
                            <%} %>

                            <% if (post.body) {%>
                                <p class="post-content-text"><%= post.body %></p>
                            <%} else {%> 
                                <div class="post-content memo">
                                <p class="post-content-memo">
                                    <img class="post-memo" src="/img/paintings/<%= post.id %>.png">
                                </p>
                            </div>
                            <%} %>
                            
                        </div>

                        <div class="post-meta">
                            <a href="javascript:void(0)" class="button edit-post none"></a>
                            <button data-empathy-count="<%= post.empathies.length %>" data-reply-count="0" <%= (post.account_id == account[0].id) ? "disabled" : "" %> class="miitoo-button post-viewer-miitoo-button<%= (post.empathies.some(empathy => empathy.account_id == account[0].id)) ? " added" : "" %>" data-post-id="<%= post.id %>" >
                                <%= (post.empathies.some(empathy => empathy.account_id == account[0].id)) ? "Unyeah!" : "Yeah!" %>
                            </button>
                            <a href="javascript:void(0)" class="button link-button none"></a>
                            <a href="javascript:void(0)" class="button vino-button none"></a>
                            <a href="javascript:void(0)" class="button yt-button none"></a>
                        </div>

                    </div>

                    <div class="post-content-miis<% if (post.empathies.length == 0) {%> none <%} %>">

                        <a href="javascript:void(0)" class="user-count">
                            <% if (post.empathies.some(empathy => empathy.account_id == account[0].id)) { %>
                                <span class="empathy_you">You</span>
                                <% if (post.empathies.length - 1 > 0) { %>
                                    <span class="empathy_and">and</span>
                                    <span class="empathy_number"><%= post.empathies.length - 1 %></span>
                                    <% if ((post.empathies.length - 1) == 1) { %>
                                        <span class="empathy_other_person">other person</span>
                                    <%} else if ((post.empathies.length - 1) > 1) { %>
                                        <span class="empathy_other_people">other people</span>
                                    <% } %>
                                <%} %>
                                <span class="empathy_people none">people</span>
                                <span class="empathy_person none">person</span>
                            <% } else { %>
                                <span class="empathy_you none">You</span>
                                <span class="empathy_and none">and</span>
                                <span class="empathy_number"><%= post.empathies.length %></span>
                                <span class="empathy_other_person none">other person</span>
                                <span class="empathy_other_people none">other people</span>
                                <% if (post.empathies.length > 1) { %>
                                    <span class="empathy_people">people</span>
                                <% } else { %>
                                    <span class="empathy_person">person</span>
                                <%} %> 
                            <%} %>
                           
                            <span class="empathy_gave">gave a Yeah to this post.</span>
                        </a>

                        <%- include("../partials/user_empathy_icon", {
                                empathy : {
                                    nnid: account[0].nnid,
                                    mii_hash: account[0].mii_hash,
                                    is_visitor: true,
                                    display: (post.empathies.some(empathy => empathy.account_id == account[0].id)) ? "inline-block" : "none"
                                }
                        }) %>

                        <% for (const empathy of post.empathies) { %>
                            <% if (empathy.account_id != account[0].id) { %>
                            <%- include("../partials/user_empathy_icon", {
                                empathy : empathy
                            }) %>
                            <% } %>
                        <% } %>

                    </div>

                </div>

                <div class="post-content-comments">
                    
                </div>

            </div>

        </div>

        <%- include('../partials/modal/screenshot-viewer.ejs') %>

        <div id="add-new-post-modal" class="window-page none">
            <div class="window">
                <h1 class="window-title"></h1>
                <div class="window-body">

                    <div class="add-post-inner">

                        <a href="javascript:void(0)"
                            onclick="wiiuSound.playSoundByName('SE_OLV_BALLOON_OPEN', 3),aquamarine.toggleFeelingModal();"
                            class="mii-icon-container" data-pjax-state="">
                            <img src="http://mii-images.account.nintendo.net/l7nesmcevej9_normal_face.png" class="icon">
                        </a>

                        <h1 class="mii-name">David Joaq</h1>

                        <label class="spoiler-button checkbox-button disabled">Spoilers
                            <input type="checkbox" disabled class="spoiler_input" name="is_spoiler" value="1">
                        </label>

                        <a href="javascript:void(0)" data-sound="SE_OLV_TOGGLE_CHECK"
                            class="screenshot-toggle-button none" onclick="aquamarine.toggleScreenshotModal();"
                            data-pjax-state=""></a>

                        <div class="screenshot-toggle-container none">
                            <li>
                                <input type="radio" name="_screenshot_value" value="top"
                                    data-sound="SE_OLV_TOGGLE_SELECTED_CHECK">
                                <img class="screenshot-tv" src="">
                            </li>
                            <li>
                                <input type="radio" name="_screenshot_value" value="bottom"
                                    data-sound="SE_OLV_TOGGLE_SELECTED_CHECK">
                                <img class="screenshot-gp" src="">
                            </li>
                            <input type="hidden" name="screenshot_value" id="screenshot_val_input" value="">
                            <a href="javascript:void(0)" data-sound="SE_OLV_TOGGLE_SELECTED_CHECK"
                                class="cancel-toggle-button" data-pjax-state="">No Screenshot</a>
                        </div>

                        <div class="feeling-selector expression none">
                            <ul class="buttons">
                                <li class="checked">
                                    <input type="radio" name="feeling_id" value="0" class="feeling-button-normal"
                                        data-mii-face-url="http://mii-images.account.nintendo.net/l7nesmcevej9_normal_face.png"
                                        checked="" data-sound="SE_WAVE_MII_FACE_00">
                                </li>
                                <li class="">
                                    <input type="radio" name="feeling_id" value="1" class="feeling-button-happy"
                                        data-mii-face-url="http://mii-images.account.nintendo.net/l7nesmcevej9_happy_face.png"
                                        data-sound="SE_WAVE_MII_FACE_01">
                                </li>
                                <li class="">
                                    <input type="radio" name="feeling_id" value="2" class="feeling-button-like"
                                        data-mii-face-url="http://mii-images.account.nintendo.net/l7nesmcevej9_like_face.png"
                                        data-sound="SE_WAVE_MII_FACE_02">
                                </li>
                                <li class="">
                                    <input type="radio" name="feeling_id" value="3" class="feeling-button-surprised"
                                        data-mii-face-url="http://mii-images.account.nintendo.net/l7nesmcevej9_surprised_face.png"
                                        data-sound="SE_WAVE_MII_FACE_03">
                                </li>
                                <li class="">
                                    <input type="radio" name="feeling_id" value="4" class="feeling-button-frustrated"
                                        data-mii-face-url="http://mii-images.account.nintendo.net/l7nesmcevej9_frustrated_face.png"
                                        data-sound="SE_WAVE_MII_FACE_04">
                                </li>
                                <li class="">
                                    <input type="radio" name="feeling_id" value="5" class="feeling-button-puzzled"
                                        data-mii-face-url="http://mii-images.account.nintendo.net/l7nesmcevej9_puzzled_face.png"
                                        data-sound="SE_WAVE_MII_FACE_05">
                                </li>
                            </ul>
                        </div>

                        <div class="textarea-container textarea-with-menu">
                            <menu class="textarea-menu">
                                <li>
                                    <label id="text" class="textarea-menu-text checked">
                                        <input type="radio" name="_post_type" value="body" checked="" data-sound="">
                                        <textarea type="text" guidestring="Write an post." name="body"
                                            class="textarea-menu-text-input" value="" maxlength="255"
                                            placeholder="Share your thoughts in a post to this community."></textarea>
                                    </label>
                                </li>

                                <li class="test-painting-tab">
                                    <label id="memo" class="textarea-menu-memo">
                                        <input type="radio" name="_post_type" value="painting" data-sound="">
                                    </label>
                                </li>

                            </menu>
                            <textarea type="text" guidestring="Write an post." data-sound="" name="body"
                                class="textarea-text" value="" maxlength="255"
                                placeholder="Share your thoughts in a post to this community."></textarea>

                            <div class="textarea-memo none" data-sound="">
                                <a href="javascript:void(0)" class="textarea-memo-trigger" data-pjax-state=""></a>
                                <div class="textarea-memo-preview">
                                </div>
                                <input type="hidden" class="textarea-memo-value" name="painting" disabled="">
                            </div>
                        </div>

                    </div>

                </div>
                <div class="window-bottom-buttons">
                    <a href="javascript:void(0)" class="button cancel-button"
                        onclick="aquamarine.closeMessagePostModal()" data-sound="SE_WAVE_CANCEL"
                        data-pjax-state="">Cancel</a>
                    <a href="javascript:void(0)" data-sound="SE_WAVE_OK" class="button ok-confirm-post-button"
                        data-pjax-state="">Post</a>
                </div>
            </div>
        </div>


        <div id="report-violation-post-modal" class="add-report-page window-page none">
            <div class="window">
                <h1 class="window-title">Report Violation to Miiverse Administrators</h1>
                <form method="post" action="/posts/AYYGAABB11wp22tTxjGfqQ/violations">
                    <div class="window-body">
                        <div class="window-body-inner message">
                            <p class="description">
                                You are about to report a post with content which violates the Miiverse Code of Conduct.
                                This report
                                will be sent to Nintendo&#39;s Miiverse administrators and not to the creator of the
                                post. </p>

                            <div class="select-content">
                                <span class="select-button-label">Violation Type: </span>
                                <div class="select-button"><span class="select-button-content">Please make a
                                        selection.</span>
                                    <select name="type" class="cannot-report-spoiler">
                                        <option value="" selected="">Please make a selection.</option>
                                        <option value="1" data-track-action="Personal">Personal Information</option>
                                        <option value="2" data-track-action="Violent">Violent Content</option>
                                        <option value="3" data-track-action="Inappropriate">Inappropriate/Harmful
                                        </option>
                                        <option value="4" data-track-action="Hateful">Hateful/Bullying</option>
                                        <option value="6" data-track-action="Advertising">Advertising</option>
                                        <option value="5" data-track-action="Sexual">Sexually Explicit</option>
                                        <option value="7" data-track-action="Other">Other</option>
                                    </select>
                                    <select name="type" class="can-report-spoiler">
                                        <option value="" selected="">Please make a selection.</option>
                                        <option value="spoiler" data-body-required="1" data-track-action="Spoiler">
                                            Spoiler</option>
                                        <option value="1" data-track-action="Personal">Personal Information</option>
                                        <option value="2" data-track-action="Violent">Violent Content</option>
                                        <option value="3" data-track-action="Inappropriate">Inappropriate/Harmful
                                        </option>
                                        <option value="4" data-track-action="Hateful">Hateful/Bullying</option>
                                        <option value="6" data-track-action="Advertising">Advertising</option>
                                        <option value="5" data-track-action="Sexual">Sexually Explicit</option>
                                        <option value="7" data-track-action="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <textarea name="body" class="textarea" maxlength="100"
                                placeholder="Enter a reason for the report."></textarea>
                            <p class="post-id"></p>
                        </div>
                    </div>
                    <div class="window-bottom-buttons">
                        <input type="button" class="olv-modal-close-button button" value="Cancel"
                            data-sound="SE_WAVE_CANCEL">
                        <input type="submit" class="post-button button" value="Submit Report" data-community-id=""
                            data-url-id="AYYGAABB11wp22tTxjGfqQ" data-track-label="default" data-title-id=""
                            data-track-action="openReportModal" data-track-category="reportViolation">
                    </div>
                </form>
            </div>
        </div>

    </div>


    </body>

    </html>