<%- include('../partials/header'), { account : account } %>

<div class="wrapper">
    <div class="wrapper-content">
        <header class="header">
            <h1 class="content-title">Other Communities for <%= main_community.name %></h1>
        </header>

        <div class="header-banner-container">
            <img src="../../../img/banners-wup/<%= main_community.id %>.jpg" class="banner-image"
                onerror="this.src='../../../img/banners-wup/placeholder-wup.jpg'">
        </div>

        <div class="communities-listing main-page" style="padding-top: 10px;">
            <div class="commnities-new-added" id="community_wrapper">
                <% for (let i = 0; i < main_community.sub_communities.length; i++) {
                    const community = main_community.sub_communities[i];%>
                    
                    <li community="yes" id="community-<%= community.id %>" class="">
                    <span class="icon-content <%= (community.user_community == 1) ? "user-subcommunity" : "" %>">
                        <img class="icon" src="../../img/icons/<%= community.id %>.jpg">
                        <% if (community.user_community == 1) { %>
                            <img class="mii" src="http://mii-images.account.nintendo.net/<%= community.mii_hash %>_normal_face.png">
                        <% } %>
                    </span>
                    <a data-sound="SE_WAVE_OK" href="javascript:void(0)" onclick="pjax.loadUrl('/communities/<%= community.id %>')" class="scroll to-community-button">
                        <span class="community-button"></span>
                    </a>
                    <div class="body">
                        <div class="body-content">
                            <span class="community-name title"><%= ((community.name).toString().includes("Community")) ? community.name : community.name + " Community"  %></span>
                            <span class="community-name name"><%= community.name %></span>
                            <span class="text">
                                <% if (community.platform == "3ds") { %>Nintendo 3DS Games<% } else { %>Wii U Games<% } %>
                            </span>
                        </div>
                    </div>
                    </li>
                <% } %> 
            </div>
        </div>
    </div>
</div>