<%- include("../partials/header.ejs") %>

<div class="wrapper">

    <div class="wrapper-content">
      <header class="header">
        <h1 class="content-title">User Page</h1>
        <a href="javascript:void(0)" data-sound="SE_WAVE_OK" class="mymenu-button">User Menu</a>
      </header>

      <div class="user-container">
        <div class="user-info info-content">
          <div class="user-profile-memo-container no-profile-memo">
            Your favorite post can be displayed here.
          </div>

          <span class="icon-container">
            <a href="/users/@me"><img src="http://mii-images.account.nintendo.net/<%= view_account.mii_hash %>_normal_face.png"
                class="icon"></a>
          </span>

          <p class="title">
            <span class="nick-name"><%= view_account.mii_name %></span>
            <span class="id-name"><%= view_account.nnid %></span>
          </p>
          <p class="bio-text"><%= view_account.bio %></p>
          <div class="profile-content">
            <div class="user-data">
              <table>
                <tbody>
                  <td>
                    <div><span class="data">Country</span><span class="content"><%= view_account.country_name %></span></div>
                    <div><span class="data">Birthday</span><span class="content">Unknown</span></div>
                  </td>
                  <tr></tr>
                  <td>
                    <div><span class="data">Yeahs Recieved</span><span class="content"><%= view_account.yeahs_recieved.toLocaleString() %></span></div>
                    <div>
                      <span class="data">Game Experience</span><span class="content">
                        <% if (view_account.game_experience == 0) { %>
                          Beginner
                        <% } else if (view_account.game_experience == 1) { %>
                          Intermediate
                        <% } else { %>
                          Expert
                        <% } %>
                      </span>
                    </div>
                  </td>
                </tbody>
              </table>
            </div>
          </div>
          <a href="/settings/profile" class="button edit-button">
            Profile Settings</a>

        </div>

        <menu class="user-menu tab-header">
          <li class="test-user-posts-count tab-button-profile">
            <a href="/users/bradenyes/posts" data-sound="SE_WAVE_SELECT_TAB">
              <span class="label">Posts</span>
              <span class="number"><%= view_account.posts.length.toLocaleString() %></span>
            </a>
          </li>
          <li class="test-user-friends-count tab-button-activity">
            <a href="/users/bradenyes/friends" data-sound="SE_WAVE_SELECT_TAB">
              <span class="label">Friends</span>
              <span class="number">0 / 100</span>
            </a>
          </li>
          <li class="test-user-followings-count tab-button-activity">
            <a href="/users/bradenyes/following" data-sound="SE_WAVE_SELECT_TAB">
              <span class="label">Following</span>
              <span class="number">
                <span class="js-following-count">0</span>
                / 1000</span>
            </a>
          </li>
          <li class="test-user-followers-count tab-button-relationship">
            <a href="/users/bradenyes/followers" data-sound="SE_WAVE_SELECT_TAB">
              <span class="label">Followers</span>
              <span class="number">0</span></a>
          </li>
        </menu>

        <div class="tab-body">
          <div class="user-button-container with-album-button">
            <a href="https://portal-us.olv.nintendo.net/users/EricDSucksG/diary" data-pjax="#body"
              class="button scroll diary-button">View Play Journal</a>
            <a href="https://portal-us.olv.nintendo.net/users/EricDSucksG/album" data-pjax="#body"
              class="button scroll album-button">View Screenshot Album</a>

          </div>


          <div class="favorite-communities scroll">
            <h2 class="headline">Favorite Communities</h2>
            <ul class="list-content-with-icon arrow-list">
              <% 
                const iterate = (view_account.favorited_communities.length >= 7) ? 7 : view_account.favorited_communities.length;
                for (let i = 0; i < iterate ; i++) { %>
                <li class="favorite-community empty">
                  <a data-sound="SE_WAVE_MENU" class="icon-container" href="javascript:void(0)" onclick="pjax.loadUrl('/communities/<%= view_account.favorited_communities[i].community_id %>?type=newest')">
                    <img src="/img/icons/<%= view_account.favorited_communities[i].community_id %>.jpg" width="96px">
                  </a>
                </li>
              <% } %>
                
              <li>
                <a href="https://portal-us.olv.nintendo.net/communities/favorites" data-pjax="#body"
                  class="arrow-button"></a>
              </li>
            </ul>
          </div>

          <div class="scroll test-diary-post-list" id="diary_post-post-list">
            <div class="headline">
              <h2>Recent Play Journal Entries</h2>
            </div>
            <div class="no-content">
              <p>No Play Journal entries written yet.</p>
            </div>
            <a href="https://portal-us.olv.nintendo.net/users/EricDSucksG/diary" data-pjax="#body"
              class="more-button scroll">View Play Journal</a>
          </div>

          <div class="js-post-list post-list scroll test-topic-post-list" id="topic_post">
            <div class="headline">
              <h2>Recent Discussions</h2>
            </div>
            <div class="no-content">
              <p>No recent discussions.</p>
            </div>
          </div>

          <div class="scroll album-content test-album-images-section">
            <h2 class="headline">Recently Saved Screenshots</h2>
            <div class="no-content">
              <p>No screenshots saved yet.</p>
            </div>
            <a href="https://portal-us.olv.nintendo.net/users/EricDSucksG/album" data-pjax="#body"
              class="more-button scroll">View Screenshot Album</a>
          </div>

        </div>

      </div>

    </div>